

# This is an example of how your dotenv file should look like
# You can copy this file and rename it to .env


MONGO_URI = "YOUR MONGO URI"
consumer_key = "YOUR MPESA CONSUMER KEY"
consumer_secret= "YOUR MPESA CONSUMER SECRET"
shortcode = "YOUR MPESA SHORTCODE"
passkey = "YOUR MPESA PASSKEY"



# You can get your mpesa consumer key and secret from https://developer.safaricom.co.ke/user/me/apps
# You can get your mpesa shortcode and passkey from https://developer.safaricom.co.ke/test_credentials

# You can get your mongo uri from https://cloud.mongodb.com/
